


/* The card */
.card {
  position: relative;
  height: 270px;
  width: 50%;
  margin: 200px 15px;
  background-color: #FFF;
  float: left;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}


.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 250px;
  width: 250px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}


img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
}


.right {
  margin-left: 300px;
  margin-right: 20px;
}

h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}



h2 {
  padding-top: 8px;
  margin-left: 15px;
  text-align: left;
  font-size: 0.8rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.separator>p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

.card:nth-child(2)
{
  float: right;
  bottom: 350px;
}